<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Maintenance Records Item</title>
        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/app.css}" rel="stylesheet" />
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
        <script th:src="@{/js/app.js}" defer></script>
    </head>
<body>

<div th:replace="~{navbar :: navbar}"></div>

<!-- Error message for pages not found (usually by User mistakenly manipulating URL) -->
<div th:if="${not #strings.isEmpty(message)}" class="alert alert-danger">
    <p th:text="${message}"></p>
</div>

<!--Update messages  -->
<div th:if="${success}">
    <div class="alert alert-success" role="alert" th:text="${success}"></div>
</div>
<div th:if="${error}">
    <div class="alert alert-danger" role="alert" th:text="${error}"></div>
</div>

<!-- Delete messages -->
<div th:if="${deleteSuccess}">
    <div class="alert alert-success" role="alert" th:text="${deleteSuccess}"></div>
</div>
<div th:if="${deleteError}">
    <div class="alert alert-danger" role="alert" th:text="${deleteError}"></div>
</div>

<div class="container mt-4">
    <h2>Item Details</h2>
    <div>
        <p><strong>Name:</strong> <span th:text="${item.name}">Item Name</span></p>
        <p><strong>Description:</strong> <span th:text="${item.description}">Item Description</span></p>
    </div>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-6">
                <h3>Item Usages</h3>
<!--                <a th:href="@{'/itemUsages/add?itemId=' + ${item.id}}" class="btn btn-primary mb-3">Add Item Usage</a>-->
                <a th:href="@{/itemUsages/add(itemId=${item.id})}" class="btn btn-primary mb-3">Add Item Usage</a>
                <div th:if="${not #lists.isEmpty(itemUsages)}">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Used By</th>
                            <th>Usage Start</th>
                            <th>Usage End</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="usage : ${itemUsages}">
                            <td th:text="${usage.usedBy}"></td>
                            <td th:text="${#temporals.format(usage.usageStart, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(usage.usageEnd, 'yyyy-MM-dd')}"></td>
                            <td>
                                <a th:href="@{/itemUsages/edit/{id}(id=${usage.id})}" class="btn btn-info btn-sm">Edit</a>
                                <form th:action="@{/itemUsages/delete/{id}(id=${usage.id})}" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(itemUsages)}">
                    <p>No item usages found.</p>
                </div>
            </div>

            <div class="col-md-6">
                <h3>Maintenance Records</h3>
                <a th:href="@{'/maintenanceRecords/add?itemId=' + ${item.id}}" class="btn btn-primary mb-3">Add Maintenance Record</a>

                <div th:if="${not #lists.isEmpty(maintenanceRecords)}" class="mt-3">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Description</th>
                            <th>Last Update</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="record : ${maintenanceRecords}">
                            <td th:text="${#strings.abbreviate(record.description, 50)}"></td>
                            <td th:text="${#temporals.format(record.lastUpdated, 'yyyy-MM-dd')}"></td>

                            <td>
                                <a th:href="@{/maintenanceRecords/update/{id}(id=${record.id})}" class="btn btn-info btn-sm">Edit</a>
                                <form th:action="@{/maintenanceRecords/delete/{id}(id=${record.id})}" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(maintenanceRecords)}">
                    <p>No maintenance records found.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>