<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <div th:fragment="navbar">
        <div class="container-fluid">
            <nav class="navbar navbar-dark bg-dark">
                <a th:href="@{/}" class="navbar-brand">
                    <img th:src="@{/images/black_file_cabinet_logo.png}" alt="logo" width="30" height="30" class="d-inline-block align-top">
                    Maintenance Records
                </a>
                <div sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>