<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Register</title>
    </head>
    <body>

        <div th:replace="~{navbar :: navbar}"></div>

        <div>
            <h1>Register</h1>

        <!--    &lt;!&ndash; error messages if invalid registration &ndash;&gt;-->
        <!--    <div th:if="${param.error}" th>-->
        <!--        <p> Registration error </p>-->
        <!--    </div>-->

            <div th:if="${param.duplicateEmail}">
                <p>Registration error</p>
                <ul>
                    <li>Email address already in use</li>
                </ul>
            </div>

            <div th:if="${param.error}">
                <p>Registration error</p>
                <ul>
                    <li th:if="${param.emailError}">Invalid or duplicate email.</li>
                    <li th:if="${param.usernameError}">Invalid or taken username.</li>
                    <li th:if="${param.passwordError}">Password requires 8 characters</li>
                </ul>
            </div>

            <form th:action="@{/register}" method="post">
                <div>
                    <!-- email field for new User  -->
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div>
                    <!-- username field for new User  -->
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div>
                    <!-- password field for new User  -->
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <!--  persist the new user if inputs valid  -->
                <input type="submit" value="Register" />
            </form>
        </div>
    </body>
</html>
